/*Utility Styles in CSS*/
.btn-primary{
    background: #000000;
    padding: 0.7em 1.5em;
    border-radius: 20px;
    color: white;
    margin: 0 1em;
}
.btn-primary:hover{
    color: wheat;
}
.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    display: none;
}

.text-center{
    text-align: center;
}

.small-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin: 0px 5px;
    cursor: pointer;
    
}
.small-icon:hover{
    border: 1px solid transparent;
}


/*Main css Styling*/
body{
    font-family: 'Poppins', sans-serif;
    background: #81f8ba;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

a:not(.btn-primary):hover{
    transition-duration: 0.3s;
    color:rgb(77, 76, 76);
    text-decoration: 1px dashed underline;
}


p{
    margin: 1em 0;
}

ul{
    list-style: none;
}
li{
    font-size: 110%;
    font-weight: 600;
}


.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2.5em;
}

header{
    margin-bottom: 4em;
}

header .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    margin-bottom: 0%;
}

.brand{
    font-size: 2em;
    font-weight: 700;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}


.btn-list-item{
    display: none;
}

.header-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 80vh;
}

.header-body .btn{
    margin: 1em 0;
    display: inline-block;
}

.banner img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px -3px 15px black;
    
}

.title{
    font-size: 3em;
    margin: 0.4em 0;
    line-height: 60px;
}

.header-text p{
    font-size: 1.1em;
    line-height: 27px;
    max-width: 450px;
}

.header-text .btn-primary{
    margin-right: 1em;
}

.stats{
    display: flex;
    align-items: center;
}

.stats h2{
    font-size: 2em;
}

.stats p{
    margin: 0;
    font-size: 0.9em;
}

.line{
    background: #000;
    margin: 0 1.5em;
    width: 3px;
    height: 3em;
}

.cards{
    margin-bottom: 2em;
}

.cards .container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.cards img{
    width: 100%;
    border-radius: 30px;
    border: 0px solid black;
    transition: 0.3s;
}

.card{
    background: #fff;
    padding: 2em;
    border-radius: 2.5em;
}
.card:hover{
    cursor: default;
    box-shadow: 0px 0px 20px black;
}

.card-text{
    margin: 1.5em 1em 0 1em;
}

.card p{
    margin: 1em 0;
    font-size: 0.9em;
    line-height: 27px;

}

footer{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2.5em;
    padding: 20px;
    margin-bottom: 50px;

}
.copy-right-text{
    text-align: right;
    font-size: 12px;
    color: rgb(58, 56, 56);
    cursor: pointer;
}
